html {
	height: 100%;
 	width: 100%;
 	overflow: hidden;
}
body {
	height: 100%;
 	overflow: auto;
 	/*-webkit-overflow-scrolling: touch; /* disabling overscrolling: https://codepen.io/itsjustluck/pen/xOyjqN */
	margin: 0;
}
p {
	font-family: 'PT Mono', monospace;
}
h1 {
	font-family: 'Cairo', sans-serif;
}
h2 {
	font-family: 'Cairo', sans-serif;
	font-size: 1.2rem; /* test across browsers */
}
a:link {
	color: white;
	text-decoration: none;
}
a:hover {
	color: black;
}
#left-panel {
	position: fixed;
	width: 20vw;
	font-size: 1rem;
}
#right-panel {
	float: right;
	width: 75vw;
	font-size: 1rem;
	text-align: center;
	margin: 5vh 3.125vw;
	-webkit-overflow-scrolling: touch;
}
#icon-area {
	display:flex;
	align-items: center;
	justify-content: space-around;
	height: 20vh;
}
#side-nav-bar {
	height: 80vh;
}
#text-panel {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 3vh 0vw;
	padding: 3vh 3vw;
}
#expand-panel #text-panel {
	margin: 1vh 0vw;
}
#expand-panel {
	margin: 3vh 0vw;
}
#expand-panel-title {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1vh 0vw;
	padding: 3vh 3vw;
}
.expand-panel-title-inactive {
	opacity: 0.6;
}
#expand-panel-title:hover {
	box-shadow: 0 6px 10px 0 rgba(200, 200, 200, 0.2), 0 8px 30px 0 rgba(200, 200, 200, 0.19);
	transition: all 100ms ease-out;
	transform: scale(1.03,1.03);
	opacity: 1;
	cursor: pointer;
}
 .expand-panel-title-active {
 	box-shadow: 0 6px 10px 0 rgba(200, 200, 200, 0.2), 0 8px 30px 0 rgba(200, 200, 200, 0.19);
 	transform: scale(1.03,1.03);
 }
#github-logo, #linkedin-logo {
	width: 6vw;
	height: auto;
	transition: all 100ms ease-out;
	opacity: 0.6;
}
#github-logo:hover, #linkedin-logo:hover {
	opacity: 1;
}
.side-nav-button {
	height: 33%;
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 200ms ease-out;
}
.tab-hello-active, #tab-hello:hover{
	box-shadow: 0 6px 10px 0 rgba(206, 66, 87, 0.2), 0 8px 30px 0 rgba(206, 66, 87, 0.19);
	transition: all 100ms ease-out;
	cursor: pointer;
}
.tab-work-active, #tab-work:hover {
	box-shadow: 0 6px 10px 0 rgba(126, 178, 221, 0.2), 0 8px 30px 0 rgba(126, 178, 221, 0.19);
	transition: all 100ms ease-out;
	cursor: pointer;
}
.tab-not-work-active, #tab-not-work:hover {
	box-shadow: 0 6px 10px 0 rgba(163, 191, 168, 0.2), 0 8px 30px 0 rgba(163, 191, 168, 0.19);
	transition: all 100ms ease-out;
	cursor: pointer;
}
.color-olive {
	color: #A3BFA8;
}
.color-cherry {
	color: #CE4257;
}
.color-sky {
	color: #7EB2DD;
}
.color-background-olive {
	background-color: #A3BFA8;
	color: #FFFFFF;
}
.color-background-cherry {
	background-color: #CE4257;
	color: #FFFFFF;
}
.color-background-sky {
	background-color: #7EB2DD;
	color: #FFFFFF;
}
.inactive {
	display: none;
}

@media (max-width: 600px) {
	#icon-area {
		flex-direction: column;
	}
	#github-logo, #linkedin-logo {
		width: 10vw;
	}
	.side-nav-button p{
		transform: rotate(-90deg);
		font-size: 1rem;
		white-space: nowrap;
	}
	#right-panel {
		margin: 0;
	}
	#expand-panel-title:hover, .expand-panel-title-active {
		transform: scale(1,1);
	}
}
